/* Importing Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*for top headding*/
body{
  margin: none;
}
#H1 {
  position: absolute;
  top: 32%;
  left: 10%;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.72);
  font-size: 50px;
  font-weight: lighter;
}

/*for background*/
.p1i1 {
  border-radius: 20px;
  position: absolute;
  left: 500px;
  top: 100px;
  align-self: center;
  width: 400px;
  height: 500px;
  background-color: rgba(136, 136, 136, 0.18);
}

/*for top small text*/
#p01{
  position: absolute;
  left: 27.5%;
  bottom: 88%;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.72);
  font-size: 14px;
}


/*for button 2*/
.b-2 {
  position: absolute;
  left: 30.8%;
  top: 15%;
  display: inline-block;
  border: none;
  background-color: rgb(38, 139, 186);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 30px;
}

/*for animation of hover*/
.b-2:hover {
  background-color: rgba(35, 175, 23, 0.72);
  color: rgb(0, 0, 0);
  -webkit-transition: 500ms;
  transform: 500ms;
}
/*for button 3*/
.b-3 {
  position: absolute;
  left: 30.8%;
  top: 38%;
  display: inline-block;
  border: none;
  background-color: rgb(38, 139, 186);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 30px;
}

/*for animation of hover*/
.b-3:hover {
  background-color: rgba(210, 27, 21, 0.72);
  color: rgb(0, 0, 0);
  -webkit-transition: 500ms;
  transform: 500ms;
}
/*for button 4*/
.b-4 {
  position: absolute;
  left: 30.0%;
  top: 59.9%;
  display: inline-block;
  border: none;
  background-color: rgb(38, 139, 186);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 30px;
}

/*for animation of hover*/
.b-4:hover {
  background-color: rgba(35, 175, 23, 0.72);
  color: rgb(0, 0, 0);
  -webkit-transition: 500ms;
  transform: 500ms;
}
/* for button 5*/
.b-5 {
  position: absolute;
  left: 32.6%;
  top: 82.0%;
  display: inline-block;
  border: none;
  background-color: rgb(38, 139, 186);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 30px;
}

/*for animation of hover*/
.b-5:hover {
  background-color: rgba(35, 175, 23, 0.72);
  color: rgb(0, 0, 0);
  -webkit-transition: 500ms;
  transform: 500ms;
}
/*sign up */
#a1 {
  position: absolute;
  left: 72.2%;
  bottom: 48%;
  border: 0px;
  border-radius: 100px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 25px;
  color: rgb(38, 139, 186);
}


#a1:hover {
  color: rgb(38, 186, 62);
  -webkit-transition:500ms;
  transform: 200ms;

}
